body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#radar {
  display: block;
  width: 100%;
  height: 100%;
}

.radar-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  padding: 0 2rem;
}

.svg-radar {
  flex-grow: 0;
  flex-basis: 50%;
  width: 900px;
  max-width: 900px;
}

.radar-entries {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 350px;
  min-width: 200px;
  line-height: 1.4rem;
}

.radar-entries a {
  text-decoration: none;
  color: #222;
}

.radar-entries h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.radar-entries h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.radar-highlight a {
  background-color: #222;
  color: #fff;
}

.filter-hidden, .filter-hidden a {
  color: lightgray;
}

.radar-container li {
  font-size: 1.3rem;
  font-weight: 300;
}

blockquote {
  font-style: italic;
  border-left: 3px solid #ccc;
  padding-left: 6px;
}

.svglink {
  cursor: pointer;
}

.entry-container {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 2rem;
}

.entry-container h1 {
  margin-bottom: 0;
  order: 1;
}

img.entry-logo {
  order: 2;
  max-width: 90px;
  max-height: 40px;
  margin-left: 10px;
}

div.entry-description {
  order: 3;
}

h1.center {
  text-align: center;
  clear: both;
}

span.version {
  background: #43a047;
  border-radius: 6px;
  padding: 6px;
}

span.version, span.version i {
  color: white;
  font-size: 2.6rem;
  white-space: nowrap;
  vertical-align: text-top;
}

.footer div {
  border-top: 1px solid #757575;
  padding: 10px 0;
}

.footer-text {
  width: 70%;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
}

.navbar {
  background: #01579b;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

ul.no-bullets {
  list-style: none;
}

.navbar ul {
  list-style: none;
  overflow: hidden;
  margin: 0 auto 3rem auto;
  max-width: 960px;
}

.navbar li {
  float: left;
  padding: 12px;
  white-space: nowrap;
}

ul.breadcrumb {
  list-style: none;
  overflow: hidden;
}

ul.history {
  list-style: none;
}

.breadcrumb li, li.radar-root {
  float: left;
  padding-left: 6px;
  color: white;
}

.breadcrumb li i, li.radar-root i {
  color: white;
  padding-left: 18px;
}

.breadcrumb li.active {
  color: white;
}

.badges {
  margin-bottom: 10px;
}

.badge {
  background: #cfd8dc;
  padding: 4px;
  border-radius: 6px;
  font-size: 14px;
  margin-right: 5px;
}

.badge.Adopt {
  background: #43a047;
  color: white;
}

.badge.Trial {
  background: #c0ca33;
  color: white;
}

.badge.Assess {
  background: #ffb300;
  color: #333;
}

.badge.Hold {
  background: #bf360c;
  color: white;
}

.badge.license {
  background: #fefefe;
  border: 1px solid #cfd8dc;
}

ol.adopt, ol.assess, ol.trial, ol.hold {
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #43a047;
  padding-left: 8px;
}

ol.trial {
  border-left-color: #c0ca33;
}

ol.assess {
  border-left-color: #ffb300;
}

ol.hold {
  border-left-color: #bf360c;
}

li {
  margin-bottom: 0;
}

p {
  margin-bottom: 1rem;
}

ul.tags {
  list-style: none;
}

.entry-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 8px 3px;

  border: 1px solid #D1D1D1;
  border-radius: 2px;
  background: #F1F1F1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;

  /* Reset inherited button props. */
  padding: 0 6px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  height: auto !important;
}

.entry-tag:hover,
.entry-tag:focus {
  border-color: #B1B1B1;
}

.entry-tag a {
  color: #333;
  text-decoration: none;
}

.inactive-note {
  background: #ffb300;
  color: #333;
  margin-bottom: 1em;
  padding: 0.5em;
}

a.inactive {
  color: gray;
  text-decoration: line-through;
}

.google-button {
  line-height: 1em;
  text-transform: none;
  letter-spacing: normal;
}

button {
  font: inherit;
  margin: inherit;
}

.signout {
  color: white;
  position: absolute;
  right: 20px;
  top: 5px;
  border: none;
  font-size: 15px;
  line-height: 24px;
}

.signout:hover {
  color: white;
  text-decoration: underline;
}


@media only screen and (max-width: 960px) {
  .radar-container {
    flex-direction: column;
    justify-content: center;
  }
  .radar-entries {
    align-self: center;
  }
  .svg-radar {
    order: -1;
    align-self: center;
    max-width: 90%;
  }
}

@media only screen and (max-width: 960px) {
  ul.breadcrumb > li:not(:first-child):not(:last-child) {
    display: none;
  }
  ul.quadrants > li:not(:first-child) {
    display: none;
  }
}
