body {
  margin: 0;
}

#radar {
  display: block;
  margin: auto;
}

blockquote {
  font-style: italic;
  border-left: 3px solid #ccc;
  padding-left: 6px;
}

.svglink {
  cursor: pointer;
}

.entry-container {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 2rem;
}

.entry-container h1 {
  margin-bottom: 0;
  order: 1;
}

img.entry-logo {
  order: 2;
  max-width: 90px;
  max-height: 40px;
  margin-left: 10px;
}

div.entry-description {
  order: 3;
}

h1.center {
  text-align: center;
  clear: both;
}

span.version {
  background: #43a047;
  border-radius: 6px;
  padding: 6px;
}

span.version, span.version i {
  color: white;
  font-size: 2.6rem;
  white-space: nowrap;
  vertical-align: text-top;
}

.footer div {
  border-top: 1px solid #757575;
  padding: 10px 0;
}

.footer-text {
  width: 70%;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
}

.navbar {
  background: #01579b;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

ul.no-bullets {
  list-style: none;
}

.navbar ul {
  list-style: none;
  overflow: hidden;
  margin: 0 auto 3rem auto;
  max-width: 960px;
}

.navbar li {
  float: left;
  padding: 12px;
  white-space: nowrap;
}

ul.breadcrumb {
  list-style: none;
  overflow: hidden;
}

ul.history {
  list-style: none;
}

.breadcrumb li, li.radar-root {
  float: left;
  padding-left: 6px;
  color: white;
}

.breadcrumb li i, li.radar-root i {
  color: white;
  padding-left: 18px;
}

.breadcrumb li.active {
  color: white;
}

.badges {
  margin-bottom: 10px;
}

.badge {
  background: #cfd8dc;
  padding: 4px;
  border-radius: 6px;
  font-size: 14px;
  margin-right: 5px;
}

.badge.Adopt {
  background: #43a047;
  color: white;
}

.badge.Trial {
  background: #c0ca33;
  color: white;
}

.badge.Assess {
  background: #ffb300;
  color: white;
}

.badge.Hold {
  background: #bf360c;
  color: white;
}

.badge.inactive {
  background: #ff8f00;
  color: white;
}

ul.adopt, ul.assess, ul.trial, ul.hold {
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #43a047;
  padding-left: 8px;
}

ul.trial {
  border-left-color: #c0ca33;
}

ul.assess {
  border-left-color: #fbdb84;
}

ul.hold {
  border-left-color: #bf360c;
}

li {
  margin-bottom: 0;
}

p {
  margin-bottom: 1rem;
}

ul.tags {
  list-style: none;
}

ul.tags li {
}

.entry-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 8px 3px;

  border: 1px solid #D1D1D1;
  border-radius: 2px;
  background: #F1F1F1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;

  /* Reset inherited button props. */
  padding: 0 6px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  height: auto !important;
}

.entry-tag:hover,
.entry-tag:focus {
  border-color: #B1B1B1;
}

.entry-tag a {
  color: #333;
  text-decoration: none;
}
