<footer class="footer">
  <div class="container">
    <p class="footer-text">
      {{title}} {{version}}, {{date}}
      &#8729; <i class="fa fa-copyright"></i> <a href="https://extendaretail.com">Extenda Retail</a>
      <br>
      Maintained at <i class="fa fa-github"></i> <a href="https://github.com/extenda/tech-radar">GitHub</a>
      &#8729; Discuss in <i class="fa fa-slack"></i> <a href="https://extendaretail.slack.com/channels/tech-radar">tech-radar</a>
      <br>
      The Tech Radar Generator is licensed under <a href="https://github.com/extenda/tech-radar/blob/master/LICENSE">MIT</a>
      &#8729; Thanks to Zalando for the <a href="https://github.com/zalando/tech-radar">radar visualization</a>
    </p>
  </div>
</footer>
<script type="text/javascript" src="/lib/footer.js"></script>
