name: Commit

on: push

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-python@v1

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./.scripts/python_requirements.txt

      - name: Yaml Lint
        run: python .scripts/yaml_lint.py

      - name: Verify schema
        run: python .scripts/yaml_validate.py

  test:
    runs-on: ubuntu-latest
    needs:
      - yamllint
    steps:
      - uses: actions/checkout@v1

      - uses: extenda/actions/gcp-secret-manager@v0
        with:
          service-account-key: ${{ secrets.SECRET_AUTH }}
          secrets: |
            SONAR_TOKEN: sonarsource-token

      - name: NPM install
        run: npm ci

      - name: Lint javascript
        run: |
          npm run lint:js -- \
            --format junit \
            --output-file test-results/eslint/TEST-eslint.xml

      - name: Unit tests
        run: npm test -- --ci --runInBand --coverage

      - name: Build radar
        run: npm run build

      - name: SonarCloud Scan
        uses: extenda/actions/sonar-scanner@v0

  release:
    #if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs:
      - yamllint
      - test
    steps:
      - uses: actions/checkout@v1

      - uses: extenda/actions/gcp-secret-manager@v0
        with:
          service-account-key: ${{ secrets.SECRET_AUTH }}
          secrets: |
            DOCKER_USERNAME: dockerhub-user
            DOCKER_PASSWORD: dockerhub-password

#      - name: Create release
#        uses: extenda/actions/conventional-release@v0
#        id: release
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # TMP
      - uses: extenda/actions/conventional-version@v0
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: NPM install
        run: npm ci

      - name: Build radar
        run: |
          npm version ${{ steps.release.outputs.version }} --no-git-tag-version
          npm run build

      - name: Publish Docker image
        uses: extenda/actions/docker@v0
        with:
          image: extenda/tech-radar
          tag: latest,${{ steps.release.outputs.version }}
          registry: docker.io
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

    deploy:
      #if: github.ref == 'refs/heads/master'
      runs-on: ubuntu-latest
      needs:
        - release
      env:
        GCP_PROJECT: tech-radar-b545
      steps:
        - uses: actions/checkout@v1

        - uses: extenda/actions/conventional-version@v0
          id: semver

        - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
          with:
            version: '282.0.0'
            service_account_key: ${{ secrets.GCLOUD_AUTH }}

        - name: Deploy to Cloud Run
          run: |
            # ${{ steps.semver.outputs.release-tag }}
            gcloud run deploy \
              --image:docker.io/extenda/tech-radar:latest \
              --service-account=cloudrun-runtime@$GCP_PROJECT.iam.gserviceaccount.com \
              --platform=managed \
              --memory=256Mi \
              --allow-unauthenticated

        # TODO Notify on Slack.
